.scrumboard .d-flex {
  overflow-x: auto;
}

.scrumboard .dropzone {
  min-height: 95%;
}

.scrumboard .card-list > .card-content,
.scrumboard .card-list > .card-title {
  padding: 2px 12px !important;
}

.scrumboard .card-list > .card-title {
  font-size: 18px !important;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

.scrumboard .card-list,
.scrumboard .card-task {
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-top: #26a69a solid thin;
  border-left: #26a69a solid thin;
  border-bottom: #26a69a solid thin;
}

.scrumboard .card-list .collection-item,
.scrumboard .card-task .collection-item {
  padding-bottom: 5px;
  padding-top: 5px;
}

.scrumboard .card-list .card-reveal,
.scrumboard .card-task .card-reveal {
  overflow: hidden;
}

.scrumboard .card-list .card-reveal .card-title,
.scrumboard .card-task .card-reveal .card-title {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0px;
}

.scrumboard .card-list .activator,
.scrumboard .card-task .activator {
  cursor: pointer;
}

.scrumboard .card-list:last-child,
.scrumboard .card-task {
  border-right: #26a69a solid thin;
}

.scrumboard .card-task .card-content,
.scrumboard .card-task .card-action {
  padding: 10px !important;
}

main {
  padding-left: 330px;
  padding-right: 30px;
}

.user-view > .background img {
  opacity: 0.6;
}

.card-tabs li.tab a.active,
.card-tabs li.tab a {
  color: #26a69a;
}

.card-tabs .tabs .indicator {
  background-color: #26a69a;
}

.modal .modal-footer {
  border-top: 1px solid #e1e1e1;
}

.card-form {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media only screen and (max-width: 992px) {
  main {
    padding-left: 0;
    padding-right: 0;
  }
}

