html,
body,
main,
#app,
main > div:first-of-type {
  height: 100%;
}

html {
  background: url("/images/space-background.jpg") no-repeat center center fixed;
  background-size: cover;
}

/* The animation code */

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }

  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }

  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.card-zoom {
  -webkit-animation: zoom 1s;
          animation: zoom 1s;
}

