.scrumboard {
  .d-flex { overflow-x: auto; }
  // TODO: debug height of dropzone
  .dropzone { min-height: 95%; }
  .card-list > .card-content, .card-list > .card-title { padding: 2px 12px !important; }
  .card-list > .card-title { font-size: 18px !important;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  }
  .card-list, .card-task {
    border-radius: 0 !important;
    box-shadow: none !important;
    flex: 1;
    border-top: #26a69a solid thin;
    border-left: #26a69a solid thin;
    border-bottom: #26a69a solid thin;
    .collection-item{
      padding-bottom: 5px;
      padding-top: 5px;
    }
    .card-reveal {
      overflow: hidden;
      .card-title {
        box-shadow: none;
        border-radius: 0px;
      }
    }
    .activator {
      cursor: pointer;
    }
  }
  .card-list:last-child, .card-task { border-right: #26a69a solid thin; }
  .card-task .card-content, .card-task .card-action { padding: 10px !important; }
}