
.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.h-25 {
  height: 25% !important;
}

.h-50 {
  height: 50% !important;
}

.h-75 {
  height: 75% !important;
}

.h-100 {
  height: 100% !important;
}

.mw-100 {
  max-width: 100% !important;
}

.mh-100 {
  max-height: 100% !important;
}

.m-0 {
  margin: 0 !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.pr-5,
.px-5 {
  padding-right: 3rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
  padding-left: 3rem !important;
}

.m-auto {
  margin: auto !important;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

@media (min-width: 600px) {
  .m-m-0 {
    margin: 0 !important;
  }
  .mt-m-0,
  .my-m-0 {
    margin-top: 0 !important;
  }
  .mr-m-0,
  .mx-m-0 {
    margin-right: 0 !important;
  }
  .mb-m-0,
  .my-m-0 {
    margin-bottom: 0 !important;
  }
  .ml-m-0,
  .mx-m-0 {
    margin-left: 0 !important;
  }
  .m-m-1 {
    margin: 0.25rem !important;
  }
  .mt-m-1,
  .my-m-1 {
    margin-top: 0.25rem !important;
  }
  .mr-m-1,
  .mx-m-1 {
    margin-right: 0.25rem !important;
  }
  .mb-m-1,
  .my-m-1 {
    margin-bottom: 0.25rem !important;
  }
  .ml-m-1,
  .mx-m-1 {
    margin-left: 0.25rem !important;
  }
  .m-m-2 {
    margin: 0.5rem !important;
  }
  .mt-m-2,
  .my-m-2 {
    margin-top: 0.5rem !important;
  }
  .mr-m-2,
  .mx-m-2 {
    margin-right: 0.5rem !important;
  }
  .mb-m-2,
  .my-m-2 {
    margin-bottom: 0.5rem !important;
  }
  .ml-m-2,
  .mx-m-2 {
    margin-left: 0.5rem !important;
  }
  .m-m-3 {
    margin: 1rem !important;
  }
  .mt-m-3,
  .my-m-3 {
    margin-top: 1rem !important;
  }
  .mr-m-3,
  .mx-m-3 {
    margin-right: 1rem !important;
  }
  .mb-m-3,
  .my-m-3 {
    margin-bottom: 1rem !important;
  }
  .ml-m-3,
  .mx-m-3 {
    margin-left: 1rem !important;
  }
  .m-m-4 {
    margin: 1.5rem !important;
  }
  .mt-m-4,
  .my-m-4 {
    margin-top: 1.5rem !important;
  }
  .mr-m-4,
  .mx-m-4 {
    margin-right: 1.5rem !important;
  }
  .mb-m-4,
  .my-m-4 {
    margin-bottom: 1.5rem !important;
  }
  .ml-m-4,
  .mx-m-4 {
    margin-left: 1.5rem !important;
  }
  .m-m-5 {
    margin: 3rem !important;
  }
  .mt-m-5,
  .my-m-5 {
    margin-top: 3rem !important;
  }
  .mr-m-5,
  .mx-m-5 {
    margin-right: 3rem !important;
  }
  .mb-m-5,
  .my-m-5 {
    margin-bottom: 3rem !important;
  }
  .ml-m-5,
  .mx-m-5 {
    margin-left: 3rem !important;
  }
  .p-m-0 {
    padding: 0 !important;
  }
  .pt-m-0,
  .py-m-0 {
    padding-top: 0 !important;
  }
  .pr-m-0,
  .px-m-0 {
    padding-right: 0 !important;
  }
  .pb-m-0,
  .py-m-0 {
    padding-bottom: 0 !important;
  }
  .pl-m-0,
  .px-m-0 {
    padding-left: 0 !important;
  }
  .p-m-1 {
    padding: 0.25rem !important;
  }
  .pt-m-1,
  .py-m-1 {
    padding-top: 0.25rem !important;
  }
  .pr-m-1,
  .px-m-1 {
    padding-right: 0.25rem !important;
  }
  .pb-m-1,
  .py-m-1 {
    padding-bottom: 0.25rem !important;
  }
  .pl-m-1,
  .px-m-1 {
    padding-left: 0.25rem !important;
  }
  .p-m-2 {
    padding: 0.5rem !important;
  }
  .pt-m-2,
  .py-m-2 {
    padding-top: 0.5rem !important;
  }
  .pr-m-2,
  .px-m-2 {
    padding-right: 0.5rem !important;
  }
  .pb-m-2,
  .py-m-2 {
    padding-bottom: 0.5rem !important;
  }
  .pl-m-2,
  .px-m-2 {
    padding-left: 0.5rem !important;
  }
  .p-m-3 {
    padding: 1rem !important;
  }
  .pt-m-3,
  .py-m-3 {
    padding-top: 1rem !important;
  }
  .pr-m-3,
  .px-m-3 {
    padding-right: 1rem !important;
  }
  .pb-m-3,
  .py-m-3 {
    padding-bottom: 1rem !important;
  }
  .pl-m-3,
  .px-m-3 {
    padding-left: 1rem !important;
  }
  .p-m-4 {
    padding: 1.5rem !important;
  }
  .pt-m-4,
  .py-m-4 {
    padding-top: 1.5rem !important;
  }
  .pr-m-4,
  .px-m-4 {
    padding-right: 1.5rem !important;
  }
  .pb-m-4,
  .py-m-4 {
    padding-bottom: 1.5rem !important;
  }
  .pl-m-4,
  .px-m-4 {
    padding-left: 1.5rem !important;
  }
  .p-m-5 {
    padding: 3rem !important;
  }
  .pt-m-5,
  .py-m-5 {
    padding-top: 3rem !important;
  }
  .pr-m-5,
  .px-m-5 {
    padding-right: 3rem !important;
  }
  .pb-m-5,
  .py-m-5 {
    padding-bottom: 3rem !important;
  }
  .pl-m-5,
  .px-m-5 {
    padding-left: 3rem !important;
  }
  .m-m-auto {
    margin: auto !important;
  }
  .mt-m-auto,
  .my-m-auto {
    margin-top: auto !important;
  }
  .mr-m-auto,
  .mx-m-auto {
    margin-right: auto !important;
  }
  .mb-m-auto,
  .my-m-auto {
    margin-bottom: auto !important;
  }
  .ml-m-auto,
  .mx-m-auto {
    margin-left: auto !important;
  }
}

@media (min-width: 992px) {
  .m-l-0 {
    margin: 0 !important;
  }
  .mt-l-0,
  .my-l-0 {
    margin-top: 0 !important;
  }
  .mr-l-0,
  .mx-l-0 {
    margin-right: 0 !important;
  }
  .mb-l-0,
  .my-l-0 {
    margin-bottom: 0 !important;
  }
  .ml-l-0,
  .mx-l-0 {
    margin-left: 0 !important;
  }
  .m-l-1 {
    margin: 0.25rem !important;
  }
  .mt-l-1,
  .my-l-1 {
    margin-top: 0.25rem !important;
  }
  .mr-l-1,
  .mx-l-1 {
    margin-right: 0.25rem !important;
  }
  .mb-l-1,
  .my-l-1 {
    margin-bottom: 0.25rem !important;
  }
  .ml-l-1,
  .mx-l-1 {
    margin-left: 0.25rem !important;
  }
  .m-l-2 {
    margin: 0.5rem !important;
  }
  .mt-l-2,
  .my-l-2 {
    margin-top: 0.5rem !important;
  }
  .mr-l-2,
  .mx-l-2 {
    margin-right: 0.5rem !important;
  }
  .mb-l-2,
  .my-l-2 {
    margin-bottom: 0.5rem !important;
  }
  .ml-l-2,
  .mx-l-2 {
    margin-left: 0.5rem !important;
  }
  .m-l-3 {
    margin: 1rem !important;
  }
  .mt-l-3,
  .my-l-3 {
    margin-top: 1rem !important;
  }
  .mr-l-3,
  .mx-l-3 {
    margin-right: 1rem !important;
  }
  .mb-l-3,
  .my-l-3 {
    margin-bottom: 1rem !important;
  }
  .ml-l-3,
  .mx-l-3 {
    margin-left: 1rem !important;
  }
  .m-l-4 {
    margin: 1.5rem !important;
  }
  .mt-l-4,
  .my-l-4 {
    margin-top: 1.5rem !important;
  }
  .mr-l-4,
  .mx-l-4 {
    margin-right: 1.5rem !important;
  }
  .mb-l-4,
  .my-l-4 {
    margin-bottom: 1.5rem !important;
  }
  .ml-l-4,
  .mx-l-4 {
    margin-left: 1.5rem !important;
  }
  .m-l-5 {
    margin: 3rem !important;
  }
  .mt-l-5,
  .my-l-5 {
    margin-top: 3rem !important;
  }
  .mr-l-5,
  .mx-l-5 {
    margin-right: 3rem !important;
  }
  .mb-l-5,
  .my-l-5 {
    margin-bottom: 3rem !important;
  }
  .ml-l-5,
  .mx-l-5 {
    margin-left: 3rem !important;
  }
  .p-l-0 {
    padding: 0 !important;
  }
  .pt-l-0,
  .py-l-0 {
    padding-top: 0 !important;
  }
  .pr-l-0,
  .px-l-0 {
    padding-right: 0 !important;
  }
  .pb-l-0,
  .py-l-0 {
    padding-bottom: 0 !important;
  }
  .pl-l-0,
  .px-l-0 {
    padding-left: 0 !important;
  }
  .p-l-1 {
    padding: 0.25rem !important;
  }
  .pt-l-1,
  .py-l-1 {
    padding-top: 0.25rem !important;
  }
  .pr-l-1,
  .px-l-1 {
    padding-right: 0.25rem !important;
  }
  .pb-l-1,
  .py-l-1 {
    padding-bottom: 0.25rem !important;
  }
  .pl-l-1,
  .px-l-1 {
    padding-left: 0.25rem !important;
  }
  .p-l-2 {
    padding: 0.5rem !important;
  }
  .pt-l-2,
  .py-l-2 {
    padding-top: 0.5rem !important;
  }
  .pr-l-2,
  .px-l-2 {
    padding-right: 0.5rem !important;
  }
  .pb-l-2,
  .py-l-2 {
    padding-bottom: 0.5rem !important;
  }
  .pl-l-2,
  .px-l-2 {
    padding-left: 0.5rem !important;
  }
  .p-l-3 {
    padding: 1rem !important;
  }
  .pt-l-3,
  .py-l-3 {
    padding-top: 1rem !important;
  }
  .pr-l-3,
  .px-l-3 {
    padding-right: 1rem !important;
  }
  .pb-l-3,
  .py-l-3 {
    padding-bottom: 1rem !important;
  }
  .pl-l-3,
  .px-l-3 {
    padding-left: 1rem !important;
  }
  .p-l-4 {
    padding: 1.5rem !important;
  }
  .pt-l-4,
  .py-l-4 {
    padding-top: 1.5rem !important;
  }
  .pr-l-4,
  .px-l-4 {
    padding-right: 1.5rem !important;
  }
  .pb-l-4,
  .py-l-4 {
    padding-bottom: 1.5rem !important;
  }
  .pl-l-4,
  .px-l-4 {
    padding-left: 1.5rem !important;
  }
  .p-l-5 {
    padding: 3rem !important;
  }
  .pt-l-5,
  .py-l-5 {
    padding-top: 3rem !important;
  }
  .pr-l-5,
  .px-l-5 {
    padding-right: 3rem !important;
  }
  .pb-l-5,
  .py-l-5 {
    padding-bottom: 3rem !important;
  }
  .pl-l-5,
  .px-l-5 {
    padding-left: 3rem !important;
  }
  .m-l-auto {
    margin: auto !important;
  }
  .mt-l-auto,
  .my-l-auto {
    margin-top: auto !important;
  }
  .mr-l-auto,
  .mx-l-auto {
    margin-right: auto !important;
  }
  .mb-l-auto,
  .my-l-auto {
    margin-bottom: auto !important;
  }
  .ml-l-auto,
  .mx-l-auto {
    margin-left: auto !important;
  }
}

@media (min-width: 1200px) {
  .m-xl-0 {
    margin: 0 !important;
  }
  .mt-xl-0,
  .my-xl-0 {
    margin-top: 0 !important;
  }
  .mr-xl-0,
  .mx-xl-0 {
    margin-right: 0 !important;
  }
  .mb-xl-0,
  .my-xl-0 {
    margin-bottom: 0 !important;
  }
  .ml-xl-0,
  .mx-xl-0 {
    margin-left: 0 !important;
  }
  .m-xl-1 {
    margin: 0.25rem !important;
  }
  .mt-xl-1,
  .my-xl-1 {
    margin-top: 0.25rem !important;
  }
  .mr-xl-1,
  .mx-xl-1 {
    margin-right: 0.25rem !important;
  }
  .mb-xl-1,
  .my-xl-1 {
    margin-bottom: 0.25rem !important;
  }
  .ml-xl-1,
  .mx-xl-1 {
    margin-left: 0.25rem !important;
  }
  .m-xl-2 {
    margin: 0.5rem !important;
  }
  .mt-xl-2,
  .my-xl-2 {
    margin-top: 0.5rem !important;
  }
  .mr-xl-2,
  .mx-xl-2 {
    margin-right: 0.5rem !important;
  }
  .mb-xl-2,
  .my-xl-2 {
    margin-bottom: 0.5rem !important;
  }
  .ml-xl-2,
  .mx-xl-2 {
    margin-left: 0.5rem !important;
  }
  .m-xl-3 {
    margin: 1rem !important;
  }
  .mt-xl-3,
  .my-xl-3 {
    margin-top: 1rem !important;
  }
  .mr-xl-3,
  .mx-xl-3 {
    margin-right: 1rem !important;
  }
  .mb-xl-3,
  .my-xl-3 {
    margin-bottom: 1rem !important;
  }
  .ml-xl-3,
  .mx-xl-3 {
    margin-left: 1rem !important;
  }
  .m-xl-4 {
    margin: 1.5rem !important;
  }
  .mt-xl-4,
  .my-xl-4 {
    margin-top: 1.5rem !important;
  }
  .mr-xl-4,
  .mx-xl-4 {
    margin-right: 1.5rem !important;
  }
  .mb-xl-4,
  .my-xl-4 {
    margin-bottom: 1.5rem !important;
  }
  .ml-xl-4,
  .mx-xl-4 {
    margin-left: 1.5rem !important;
  }
  .m-xl-5 {
    margin: 3rem !important;
  }
  .mt-xl-5,
  .my-xl-5 {
    margin-top: 3rem !important;
  }
  .mr-xl-5,
  .mx-xl-5 {
    margin-right: 3rem !important;
  }
  .mb-xl-5,
  .my-xl-5 {
    margin-bottom: 3rem !important;
  }
  .ml-xl-5,
  .mx-xl-5 {
    margin-left: 3rem !important;
  }
  .p-xl-0 {
    padding: 0 !important;
  }
  .pt-xl-0,
  .py-xl-0 {
    padding-top: 0 !important;
  }
  .pr-xl-0,
  .px-xl-0 {
    padding-right: 0 !important;
  }
  .pb-xl-0,
  .py-xl-0 {
    padding-bottom: 0 !important;
  }
  .pl-xl-0,
  .px-xl-0 {
    padding-left: 0 !important;
  }
  .p-xl-1 {
    padding: 0.25rem !important;
  }
  .pt-xl-1,
  .py-xl-1 {
    padding-top: 0.25rem !important;
  }
  .pr-xl-1,
  .px-xl-1 {
    padding-right: 0.25rem !important;
  }
  .pb-xl-1,
  .py-xl-1 {
    padding-bottom: 0.25rem !important;
  }
  .pl-xl-1,
  .px-xl-1 {
    padding-left: 0.25rem !important;
  }
  .p-xl-2 {
    padding: 0.5rem !important;
  }
  .pt-xl-2,
  .py-xl-2 {
    padding-top: 0.5rem !important;
  }
  .pr-xl-2,
  .px-xl-2 {
    padding-right: 0.5rem !important;
  }
  .pb-xl-2,
  .py-xl-2 {
    padding-bottom: 0.5rem !important;
  }
  .pl-xl-2,
  .px-xl-2 {
    padding-left: 0.5rem !important;
  }
  .p-xl-3 {
    padding: 1rem !important;
  }
  .pt-xl-3,
  .py-xl-3 {
    padding-top: 1rem !important;
  }
  .pr-xl-3,
  .px-xl-3 {
    padding-right: 1rem !important;
  }
  .pb-xl-3,
  .py-xl-3 {
    padding-bottom: 1rem !important;
  }
  .pl-xl-3,
  .px-xl-3 {
    padding-left: 1rem !important;
  }
  .p-xl-4 {
    padding: 1.5rem !important;
  }
  .pt-xl-4,
  .py-xl-4 {
    padding-top: 1.5rem !important;
  }
  .pr-xl-4,
  .px-xl-4 {
    padding-right: 1.5rem !important;
  }
  .pb-xl-4,
  .py-xl-4 {
    padding-bottom: 1.5rem !important;
  }
  .pl-xl-4,
  .px-xl-4 {
    padding-left: 1.5rem !important;
  }
  .p-xl-5 {
    padding: 3rem !important;
  }
  .pt-xl-5,
  .py-xl-5 {
    padding-top: 3rem !important;
  }
  .pr-xl-5,
  .px-xl-5 {
    padding-right: 3rem !important;
  }
  .pb-xl-5,
  .py-xl-5 {
    padding-bottom: 3rem !important;
  }
  .pl-xl-5,
  .px-xl-5 {
    padding-left: 3rem !important;
  }
  .m-xl-auto {
    margin: auto !important;
  }
  .mt-xl-auto,
  .my-xl-auto {
    margin-top: auto !important;
  }
  .mr-xl-auto,
  .mx-xl-auto {
    margin-right: auto !important;
  }
  .mb-xl-auto,
  .my-xl-auto {
    margin-bottom: auto !important;
  }
  .ml-xl-auto,
  .mx-xl-auto {
    margin-left: auto !important;
  }
}