
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Personal CSS
@import "flex";
@import "spacing";

html, body {
  margin: 0 !important;
  padding: 0 !important;
}

html, body, #app, main {
  height: 100%;
}

h1 { margin: 0; }

.pagination {
  width: auto;
}
