@import "scrumboard";

main {
  padding-left: 330px; padding-right: 30px;
}

.user-view > .background img {
  opacity: 0.6;
}

.card-tabs li.tab a.active, .card-tabs li.tab a {
  color: #26a69a;
}
.card-tabs .tabs .indicator {
  background-color: #26a69a;
}

.modal .modal-footer { border-top: 1px solid #e1e1e1; }
.card-form { box-shadow: none; }


@media only screen and (max-width : 992px) {
  main {
    padding-left: 0; padding-right: 0;
  }
}

