html, body,
main, #app,
main >div:first-of-type {
  height: 100%;
}

html {
  background: url("/images/space-background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* The animation code */
@keyframes zoom {
  from {
    transform: scale(0.4);
  }
  to {
    transform: scale(1);
  }
}
.card-zoom { animation: zoom 1s; }

